// Pico with orange primary color
/* "color-families":
    red
    pink
    fuchsia
    purple
    violet
    indigo
    blue
    azure
    cyan
    jade
    green
    lime
    yellow
    amber
    pumpkin
    orange <-- primary color
    sand
    grey
    zinc
    slate
 */
@use "../../node_modules/@picocss/pico/scss/pico.scss" with (
  $theme-color: "orange",
);

$mobile-breakpoint: 576px;
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1024px;
$large-desktop-breakpoint: 1280px;
$extra-large-desktop-breakpoint: 1536px;

header {
  background-color: var(--pico-primary);
  *:not(a) {
    color: var(--pico-primary-inverse);
  }
  a {
    // color: var(--pico-primary-inverse);
    font-weight: 900;
    &:hover {
      color: var(--pico-primary-inverse);
    }
  }
}

footer {
  background-color: var(--pico-secondary);
  *:not(a) {
    color: var(--pico-secondary-inverse);
  }
  a {
    // color: var(--pico-secondary-inverse);
    font-weight: 900;
    &:hover {
      color: var(--pico-secondary-inverse);
    }
  }
}

nav {
  ul {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  @media screen and (min-width: $mobile-breakpoint) {
    ul {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      width: inherit;
    }
  }
}

[role="product-listing"] {
  display: grid;
  gap: 1rem;
  @media screen and (min-width: $mobile-breakpoint) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media screen and (min-width: $desktop-breakpoint) {
    grid-template-columns: repeat(3, 1fr);
  }
}

[role="product-content"] {
  @media screen and (min-width: $desktop-breakpoint) {
    display: grid;
    grid-template-columns: 2fr 3fr;
    gap: 1rem;
    
  }
}
