{% load static wagtailuserbar %}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>{% block title %}{% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}{% endblock %}{% block title_suffix %}{% endblock %}</title>
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@48,400,0,0" />

        {# Global stylesheets #}
        <link rel="stylesheet" type="text/css" href="{% static 'longclaw_bakery.css' %}">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
        {% block extra_css %}
            {# Override this in templates to add extra stylesheets #}
        {% endblock %}
    </head>

    <body class="{% block body_class %}{% endblock %}">
        {% wagtailuserbar %}
        <header>
            <div class="container-fluid">
                {% block header %}
                {# Override this in templates to add extra header content #}
                <nav>
                    <a role="button" href="/">Longclaw Bakery</a>
                    <a role="button" href="/products">Products</a>
                    <a role="button" href="{% url 'longclaw_basket' %}"><span class="material-symbols-rounded">shopping_basket</span></a>
                </nav>
                {% endblock %}
            </div>
        </header>
        <main>
            <div class="container-fluid">
                {% block content %}{% endblock %}
            </div>
        </main>
        <footer>
            <div class="container-fluid">
                <hgroup>
                    <h4>Longclaw Demo Site</h4>
                    <p>A demo site for Longclaw shop <a href="https://github.com/longclawshop/longclaw_demo">Github</a></p>

                </hgroup>
            </div>
        </footer>

        {# Global javascript #}
        <script type="text/javascript" src="{% static 'longclaw_bakery.js' %}"></script>

        {% block extra_js %}
            {# Override this in templates to add extra javascript #}
        {% endblock %}
    </body>
</html>
