{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-basket{% endblock %}

{% block content %}
    <hgroup>
        <h2>Your Basket</h2>
        <p>This is a summary of your shopping basket</p>
    </hgroup>
    {% if basket.count == 0 %}
    <p>There is nothing in your basket!</p>
    {% else %}
    <div class="overflow-auto">
        <table class="striped">
            <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Price</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for item in basket %}
                <tr>
                    <th scope="row">{% image item.variant.product.first_image.image max-75x75 %}</th>
                    <td>{{item.variant.product.title}} - {{item.variant.ref}}</td>
                    <td>{{item.quantity}}</td>
                    <td>{{item.total}}</td>
                    <td><a href="#" role="delete-basket-item" data-id="{{ item.id }}">Delete</a>{% csrf_token %}</td>
                </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                {% if basket.count > 0 %}
                <tr>
                    <td></td>
                    <td></td>
                    <td>Total</td>
                    <th scope="row">{{total_price}}</th>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <th scope="row">
                        <a href="/checkout">Checkout</a>
                    </th>
                    <td></td>
                </tr>
                {% endif %}
            </tfoot>
        </table>
    </div>
    {% endif %}

    <a href="#" role="button" id="dialog-open">Show Modal</a>

    <dialog>
        <article>
            <header>
                <button aria-label="Close" rel="prev"></button>
                <p>
                    <strong>🗓️ Thank You for Registering!</strong>
                </p>
            </header>
            <p>Thanks! your order ID is #<span id="order-id"></span></p>
            <p>Since this is a demo we have skipped taking payment details and performing a 'real' checkout</p>
            <p>You can view the created order in the Wagtail admin. Login with the username and password you created earlier</p>
            <footer>
                <button class="secondary" id="dialog-close">
                  Cancel
                </button>
                <button>Confirm</button>
              </footer>
        </article>
    </dialog>

{% endblock %}
