{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-productindex{% endblock %}

{% block content %}
<h1>{{ page.title }}</h1>
<div class="grid">

    {% for post in page.get_children %}
    {% with post=post.specific %}
    <article>
        <header><a href="{% pageurl post %}">{{ post.title }}</a></header>
        {% image post.images.first.image max-400x400 %}
        <p>{{ post.description|richtext }}</p>
        <footer>rom &euro;{{ post.price_range.0 }}</footer>
    </article>
    <article>
        <header><a href="{% pageurl post %}">{{ post.title }}</a></header>
        {% image post.images.first.image max-400x400 %}
        <p>{{ post.description|richtext }}</p>
        <footer>rom &euro;{{ post.price_range.0 }}</footer>
    </article>
    <article>
        <header><a href="{% pageurl post %}">{{ post.title }}</a></header>
        {% image post.images.first.image max-400x400 %}
        <p>{{ post.description|richtext }}</p>
        <footer>rom &euro;{{ post.price_range.0 }}</footer>
    </article>
    <article>
        <header><a href="{% pageurl post %}">{{ post.title }}</a></header>
        {% image post.images.first.image max-400x400 %}
        <p>{{ post.description|richtext }}</p>
        <footer>rom &euro;{{ post.price_range.0 }}</footer>
    </article>
    {% endwith %}
    {% endfor %}
</div>

{% endblock %}
